<div class="d-flex justify-content-center my-1 pb-5">
    <nav>
        <ul class="pagination">
            <li class="page-item active mx-2">
                <a class="page-link" href="?page=1"> 1 </a>
            </li>

            <li class="page-item mx-2">
                <a class="page-link" href="?page=2"> 2 </a>
            </li>
     
            <li class="page-item  mx-2">
                <a class='page-link' href="?page=3"> 3 </a>
            </li>
        </ul>
    </nav>
</div>