// General color
$white              : #fff;
$black              : #000;
$red                : #CE0033;
$redHover           : #A4082F;
$background         : #F1F5F8;

// Text color
$inputColor         : rgba(0, 0, 0, 0.75);
$footerTextColor    : rgba(0, 0, 0, 0.60);

// Buttons color
$paginationInactive : rgba(206,0,51,0.70);
$btnGeneralColor    : rgba(0, 0, 0, 0.42);
$btnSettingColor    : rgba(0, 0, 0, 0.65);