<% include ./includes/head %>
</head>

<body>
    <% include ./includes/navigation %>
        <main class="container-fluid">
            <% include ./includes/messageFlash %>
            <div class="row no-gutters justify-content-center align-items-center py-5">
                <div class="d-flex justify-content-center w-100">
                    <h5 class="alert alert-info my-5"> Aucune feuille d'emargement n'a été trouvé ! </h5>
                </div>
            </div>
        </main>
        
    <% include ./includes/footer %>

    <% include ./includes/modals , {templateInfo: templateInfo} %>
    <% include ./includes/modalsTemplate %>

    <script src="/js/modal.js"></script>
    <script src="/js/modalTemplate.js"></script>
</body>

</html>