<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation , {
                        isTemplatePage: isTemplatePage, 
                        isEmargementPage: isEmargementPage, 
                        isPromotionPage: isPromotionPage, 
                        isApprenantPage: isApprenantPage
                    } %>
    <main>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 pb-1">
                <% breadcrumb.forEach(element => { %>
                <li class="breadcrumb-item active"><%= element %></li>
                <% }) %>
            </ol>
        </nav>

        <div class="settingHeight d-flex justify-content-center align-items-center mt-5">
            <div class="formWidth bg-white rounded">

                <div class="mx-auto my-4 d-flex justify-content-center align-items-center">
                    <img id="previewLogo" src="/images/logowebsite.png" class="img-fluid" alt="Logo preview" style="max-width: 300px; max-height: 150px;">
                </div>

                <form action="/admin/templates/add" method="POST">
                    <div class="my-3 input-group mb-2 mr-sm-2 px-5">
                        <input type="text" class="form-control inputBorder" name="name" placeholder="Nom du template">
                    </div>

                    <div class="my-3 input-group mb-2 mr-sm-2 px-5">
                        <input type="text" class="form-control inputBorder" name="organisme" placeholder="Organisme">
                    </div>

                    <div class="my-3 input-group mb-2 mr-sm-2 px-5">
                        <input type="text" class="form-control inputBorder" name="intitule" placeholder="Intitule">
                    </div>

                    <div class="my-3 input-group mb-2 mr-sm-2 px-5">
                        <input type="file" id="logo" class="form-control inputBorder" name="logo">
                    </div>
                    <div class="w-100 d-flex mt-5">
                        <a href="/admin" class="btn btn-primary w-50 leftBorder py-3">Annuler</a>
                        <div class="btnDivider"></div>
                        <button type="submit" class="btn btn-secondary w-50 rightBorder py-3"> Mettre à jour </button>
                    </div>

                </form>
            </div>
        </div>
    </main>

    <% include ../includes/footer %>

    <script src="/js/template/previewLogo.js"></script>
</body>

</html>