@use "../vendors/bootstrap-4-5-2.min.css";
@use "../utils/colors";
@use "../utils/mixins";
@use "../pages/authentification";

// GENERAL
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: colors.$background;
}

main {
    min-height: 70vh;
}

a {
    text-decoration: none !important;
}

.iconify {
    font-size: 24px;

    &.iconify__black {
        color: colors.$black;
    }

    &.iconify__white {
        color: colors.$white;

        &:hover {
            color: colors.$redHover;
        }
    }
}

.form-control:focus {
    border-style: none none inset none !important; 
    box-shadow: none !important;
}

.btn {
    box-shadow: none !important;
}

.inputBorder {
    border-style: none none inset none !important; 
    background: white !important;
    border-radius: 0;
    border-color: colors.$black;
    padding-bottom: 0px !important;
}

.leftBorder {
    border-radius: 0px 0px 0px 5px !important;
    @include mixins.formButton;
}

.rightBorder {
    border-radius: 0px 0px 5px 0px !important;
    @include mixins.formButton;
}

.btnDivider {
    width: 3px; 
    background: white;
}

.btnSetting {
    background: colors.$btnSettingColor;
    border-radius: 25px;
    padding: 0px 15px 0px 15px !important;
    border: 2px solid transparent;

    .btnSetting__white {
        color: colors.$white !important;

        &:hover {
            color: colors.$red !important;
        }
    }

    &:hover {
        border: 2px solid colors.$red;
    }
}

.dropdown-menu {
    background: colors.$red !important;

    .dropdown-item {
        color: colors.$white !important;
        &:hover {
            background: none !important;
            font-weight: 600 !important;
        }
    }
}

.dropdown-toggle {
    border: none !important;
    outline: none !important;
    background: transparent !important;

    &:focus, &:hover {
        color: colors.$red !important;
    }

    &:after {
        border: none;
        font-size: 18px;
        font-weight: bold;
        content: ">";
        rotate: 90deg;
        vertical-align: middle !important;
    }
}

li.page-item {
    
    a.page-link {
         color: colors.$white !important;
        background: colors.$paginationInactive !important;
        border: none !important;
        border-radius: 5px !important;
        padding: 7px 13px 7px 13px !important;

        &:hover {
            color: colors.$redHover !important;
        }
    }

    &.active {
        background: colors.$red !important;
        border-radius: 5px !important;
    }
}

.breadcrumb {
    background: transparent !important;

    .breadcrumb-item {
        & {
            color: colors.$black !important;
        }
        &.active {
            font-weight: bold;
        }
    }
}

.version {
    padding: 2px 10px;
    border-radius: 25px;
    color: colors.$white;
    background: colors.$btnGeneralColor;
    font-size: 11px;
}

// ---------------- Responsivity -------------------------

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .formWidth {
        width: 90% !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .formWidth {
        width: 75% !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .formWidth {
        width: 65% !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .formWidth {
        width: 50% !important;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .formWidth {
        width: 40% !important;
    }
}