@use 'colors';

@mixin formButton {
    font-weight: bold;
    background: colors.$btnGeneralColor !important;
    border: none !important;
    
    &:hover{
        background: colors.$red !important;
        transition: all 0.4s ease-in 0s;
    }
}

@mixin heightvh($height) {
    height: #{$height}vh !important;
}

@mixin googleFonts($font) {
	@import url('https://fonts.googleapis.com/css2?family=#{$font}');
}

@mixin widthPourcentage($width){
    width: #{$width} !important;
}

@mixin paddingTopBottom($top, $bottom) {
    padding-top: #{$top} !important;
    padding-bottom: #{$bottom} !important;
}

@mixin marginTopBottom($top, $bottom) {
    margin-top: #{$top} !important;
    margin-bottom: #{$bottom} !important;
}