@use "../vendors/bootstrap-4-5-2.min.css";
@use "../utils/colors";
@use "../utils/mixins";
@use "../pages/authentification";

// --------------  FONTS  -----------------

@include mixins.googleFonts(Domine);
@include mixins.googleFonts(Roboto);

// --------------  GENERAL  -----------------

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: colors.$background;
    font-family: 'Domine', serif;
}

main {
    min-height: 70vh;
}

a {
    text-decoration: none !important;
}

.iconify {
    font-size: 24px;
    cursor: pointer;

    &.iconify__black {
        color: colors.$black;
    }

    &.iconify__red {
        color: colors.$red;
    }

    &.iconify__blue {
        color: colors.$blue;
    }

    &.iconify__white {
        color: colors.$white;

        &:hover {
            color: colors.$redHover;
        }
    }
}

.form-control:focus {
    border-style: none none inset none !important; 
    box-shadow: none !important;
}

.btn {
    box-shadow: none !important;
    font-family: 'Rototo', sans-serif;
    font-weight: bold !important;
}

.inputBorder {
    border-style: none none inset none !important; 
    background: white !important;
    border-radius: 0;
    border-color: colors.$black;
    padding-bottom: 0px !important;
}

.leftBorder {
    border-radius: 0px 0px 0px 5px !important;
    @include mixins.formButton;
}

.rightBorder {
    border-radius: 0px 0px 5px 0px !important;
    @include mixins.formButton;
}

.btnDivider {
    width: 3px; 
    background: white;
}

.formWidth {
    font-family: 'Roboto', sans-serif;

    h5 {
        font-family: 'Domine', sans-serif;
    }
}

.settingHeight60 {
    @include mixins.heightvh(60);
}

// --------------  NAVBAR  -----------------

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-brand {
    position: absolute !important;
    top: 10px !important;
    left: -10px !important;
    margin-right: 50px !important;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.btnSetting {
    background: colors.$btnSettingColor;
    border-radius: 25px;
    padding: 0px 15px 0px 15px !important;
    border: 2px solid transparent;

    .btnSetting__white {
        color: colors.$white !important;

        &:hover {
            color: colors.$red !important;
        }
    }

    &:hover {
        border: 2px solid colors.$red;
    }
}

// ---------------- Responsivity -------------------------

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .btn, .btnSetting {
        font-size: 12px !important;
    }

    .py-5 {
        @include mixins.paddingTopBottom(80px,120px);
    }
    
    .my-5 {
        @include mixins.marginTopBottom(80px,120px);
    }

    .formWidth {
        @include mixins.widthPourcentage(90%);
        @include mixins.marginTopBottom(80px,80px);

        .img-fluid {
            width: 50vw !important ;
        }
        .my-5 {
            @include mixins.marginTopBottom(10px,30px);
        }

        input, p{
            font-size: 12px !important;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .btn, .btnSetting{
        font-size: 12px !important;
    }

    .py-5 {
        @include mixins.paddingTopBottom(calc(2vw + 120px),200px);
    }
    
    .my-5 {
        @include mixins.marginTopBottom(calc(2vw + 110px),calc(2vw + 120px));
    }

    .formWidth {
        @include mixins.widthPourcentage(75%);
        @include mixins.paddingTopBottom(25px,0px);

        .img-fluid {
            width: 40vw !important ;
        }

        .my-5 {
            @include mixins.marginTopBottom(10px,30px);
        }

        input, p {
            font-size: 12px !important;
        }
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .formWidth {
        @include mixins.widthPourcentage(65%);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .formWidth {
        @include mixins.widthPourcentage(50%);
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .formWidth {
        @include mixins.widthPourcentage(40%); 

    }
}