<% include ../includes/head %>
</head>

<body>
    <% include ../includes/navigation , {
                        isTemplatePage: isTemplatePage, 
                        isEmargementPage: isEmargementPage, 
                        isPromotionPage: isPromotionPage, 
                        isApprenantPage: isApprenantPage
                    } %>
    <main>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 pb-1">
                <% breadcrumb.forEach(element => { %>
                <li class="breadcrumb-item active"><%= element %></li>
                <% }) %>
            </ol>
        </nav>

        <div id="detailEmargement" class="settingHeight60 d-flex justify-content-center align-items-center flex-column mt-5">
            <iframe src="/data/pdf/<%= emargement.name %>" frameborder="0" style="zoom: 0.80"></iframe>
        </div>
    </main>

    <% include ../includes/modalAddEmargement , { templateInfo: templateInfo, promotions: promotions } %>
    <% include ../includes/footer %>
</body>

</html>